@font-face {
    font-family: NTR;
    src: url(https://cdn.rawgit.com/writersurya/site/gh-pages/NTR.ttf);
}
h1 {
    font-family: NTR;
	font-size: 40px;
}
div {
    font-family: NTR;
	font-size: 40px;
}
a {
    font-family: NTR;
	font-size: 40px;
}
h2 {
    font-family: NTR;
	font-size: 40px;
}
p {
    font-family: NTR;
	font-size: 40px;
}
img{
	height: 75%;
    	width: 75%;
}
