@font-face {
    font-family: NTR;
    src: url(https://cdn.rawgit.com/writersurya/site/gh-pages/NTR.ttf);
}
h1 {
    font-family: NTR;
    font-size: 200%;
}
div {
    font-family: NTR;
    font-size: 150%;
}
a {
    font-family: NTR;
}
h2 {
    font-family: NTR;
}
p {
    font-family: NTR;
}
